@import "../../styles/mixins.scss";

.primeContainer {
  width: clamp(680px, 77%, 800px);
  @apply m-24 h-96 grid overflow-hidden;
  grid-template-rows: 1fr 200px 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @include b;
}
